<footer>
    <div class="footer-top">
        <div>
            <h2>About</h2>
            <p>Total Book Count: <%= total %>
            </p>
        </div>
        <div>
            <h2>Contact</h2>
            <p>Hello</p>
        </div>
    </div>

    <hr>

    <div class="footer-down">
        <p>© 2024 Manisha's Book Showcase. All rights reserved.</p>
        <p>Book cover images from Open Library and other online
            resources. Last updated: July 2024
        </p>
        <p>All opinions expressed are personal
            and do not reflect those of authors or publishers.
        </p>
    </div>
</footer>

<script src="/index.js"></script>
</body>

</html>