<%- include('./partials/header.ejs') %>

    <hero>
        <div class="container">
            <h1>About Thynk Books!</h1>
        </div>
    </hero>

    <main>
        <div class="about-text">
            <div class="ab-img"><img src="/assets/book.png" height="320" alt="book image" draggable="false"></div>
            <div class="ab-txt">
                <h2>Read, Review, and Repeat!</h2>
                <p>This is a platform dedicatd to book readers for them
                    to be able to write their personal opionated reviews about
                    the books they have read.<br><br>
                    Each Book is unique and presents it's own unique review.
                    We hope that you have fun on our platform!
            </div>

            </p>
        </div>
    </main>

    <%- include('./partials/footer.ejs') %>